<div class="p-3">
  <ul class="flex space-x-4 p-3 bg-gray-100 justify-center">
    <li>
      <input type="button" value="HOME" routerLink="home" class="px-6 py-3 text-lg font-semibold text-orange-500 border  transition duration-300 hover:text-lime-500 hover:border-lime-500 focus:outline-none">
    </li>
    <li>
      <input type="button" value="PRODUCTS" routerLink="products" class="px-6 py-3 text-lg font-semibold text-orange-500 border  transition duration-300 hover:text-lime-500 hover:border-lime-500 focus:outline-none">
    </li>
    <li>
      <input type="button" value="CONTACT" routerLink="contact" class="px-6 py-3 text-lg font-semibold text-orange-500 border  transition duration-300 hover:text-lime-500 hover:border-lime-500 focus:outline-none">
    </li>
    <li>
      <input type="button" value="ABOUT" routerLink="about" class="px-6 py-3 text-lg font-semibold text-orange-500 border  transition duration-300 hover:text-lime-500 hover:border-lime-500 focus:outline-none">
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
